<div class="row">
  <div class="col-md-6">
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Feb 15</td><td><a href="http://www.datacarpentry.org/spreadsheet-ecology-lesson/">Spreadsheets/ </a><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine</a></td></tr>
	<tr><td>Feb 17</td><td><a href="http://www.datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></td></tr>
      <tr><td>Feb 19</td><td><a href="https://datacarpentry.org/R-ecology-lesson/index.html">Introduction to R: dplyr</a></td></tr>
      <tr><td>Feb 22</td><td><a href="https://datacarpentry.org/R-ecology-lesson/04-visualization-ggplot2.html">Continuation of R: ggplot and Rmd</a></td></tr>

	      	    
      <tr>
	<td> </td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
	</tr>
	</table>
  </div>
</div>
